<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Welcome</h1>
    <br />
    <h2>Get ready to learn</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br />
  </div>
</div>